html,
body {
  margin: 0;
  padding: 0;
  background-color: white;
}

h1 {
  background-image: url("../images/bannnnnnnn.png");
  width: 100%;
  height: 400px;
  background-size: cover;
}
h1 {
  color: white;
}
h1 {
  text-align: center;
}
h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

p {
  text-align: center;
}
