body {
  margin: 0;
  width: 100%;
  background-color: #f2f2f2;
}

#back {
  width: 100%;
  height: 250px;
  background-size: cover;
  padding-top: 0.3%;
}

h1 {
  color: black;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 30px;
  margin-left: 20%;
}

#logo {
  margin-left: 33%;
  width: 250px;
}

#liens ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 10vh;
  justify-content: center;
  display: flex;
}

li {
  width: 160px;
  text-align: center;
}

li a {
  display: block;
  color: black;
  font-size: 14pt;
  padding: 30px 30px;
  text-decoration: none;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

li a:hover {
  background-color: white;
  color: black;
  float: center;
}

#contenu li {
  width: 100%;
  background-color: white;
  height: 200px;
}

#liens li {
  background-color: #eaded3;
}

.icone > img {
  width: 40%;
  height: 40%;
}
