/** CSS pour téléphone**/

body {
  background-color: white;
}

h1 {
  text-align: center;
}

#logo {
  width: 180px;
  padding-left: 95px;
}

li {
  width: 160px;
  text-align: center;
}

li a {
  display: block;
  color: black;
  font-size: 14pt;
  padding: 10px 10px;
  text-decoration: none;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  list-style-type: none;
}

li a:hover {
  background-color: white;
  color: black;
  float: center;
}
  #liens {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "accueil contact";
    width: 100%;
  }

  #liens > a:first-child {
    grid-area: accueil;
    justify-self: center;
    align-self: center;
    color: black;
    font-size: 14pt;
    padding: 30px 30px;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    background: #eaded3;
  }

  #liens > a:last-child {
    grid-area: contact;
    justify-self: center;
    align-self: center;
    color: black;
    font-size: 14pt;
    padding: 30px 30px;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    background: #eaded3;
  }
  
#contenu li {
  width: 100%;
  background-color: #ffffff;
  height: 200px;
  list-style-type: none;
  margin-left: -20px;
  background-color: #f2f2f2;
  border: 3px solid white;
}

#liens li {
  background-color: #eaded3;
  margin-left: 20%;
  list-style-type: none;
}
.footer {
  background: #eaded3;
  background-size: cover;
  height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.Crédits,
.code,
.design {
  text-align: center;
}

/** CSS pour ordinateur**/
@media (min-width: 800px) {
  body {
    margin: 0;
    width: 100%;
    background-color: white;
  }

  #back {
    width: 100%;
    height: 250px;
    background-size: cover;
    padding-top: 0.3%;
  }

  h1 {
    color: black;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    padding-right: 435px;
    padding-top: 100px;
    float: right;
  }

  #logo {
    margin-left: 27%;
    width: 250px;
  }

  #liens ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 10vh;
    justify-content: center;
  }

}

  li a {
    display: block;
    color: black;
    font-size: 14pt;
    padding: 30px 30px;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    list-style-type: none;
  }

  li a:hover {
    background-color: white;
    color: black;
    float: center;
  }

  #contenu li {
    width: 100%;
    background-color: #ffffff;
    height: 118px;
    margin-left: -17px;
    background-color: #f2f2f2;
  }

  #liens li {
    background-color: #eaded3;
    text-align: center;
    margin-left: 20%;
  }

}
