body {
  margin: 0;
  width: 100%;
  background-color: darkgrey;
}

h1 {
  text-align: center;
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  height: 10pt;
}
