/**CSS pour mobile**/

body {
  background-color: #eaded3;
  text-align: center;
}

h1 {
  color: black;
  background-color: white;
  font-size: 25pt;
}
#liens ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 10vh;
  justify-content: center;
  display: flex;
}

li {
  width: 160px;
  text-align: center;
}

li a {
  display: block;
  color: white;
  font-size: 15pt;
  padding: 10px 40px;
  text-decoration: none;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  list-style-type: none;
  border: 3px solid white;
}

li a:hover {
  background-color: white;
  color: black;
  float: center;
}
#photomonhistoire {
  max-width: 100%;
  height: auto;
 }

 h2 {
  background-color: white;
  font-size: 20pt;
}

p {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 25px;
}

h3 {
  font-size: 35px;
  background-color: white;
}

img {
  width: 100%;
}

/** CSS pour ordinateur**/
@media (min-width: 800px) {
  body {
    background-color: #eaded3;
  }

  h1 {
    color: black;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    background-color: white;
  }

  #liens ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 10vh;
    justify-content: left;
    display: flex;
  }

  li {
    width: 160px;
    text-align: left;
  }

  li a {
    display: block;
    color: white;
    font-size: 15pt;
    padding: 20px 50px;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    list-style-type: none;
    border: 3px solid white;
  }

  li a:hover {
    background-color: white;
    color: black;
    float: center;
  }

h2 {
  background-color: white;
  font-size: 35px;
}

p {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 25px;
}

h3 {
  font-size: 35px;
  background-color: white;
}

